.login{
    background-color: #045F7B;
    min-height: 100vh;
}

.login-form{
    border: 1px #ffff solid;
    border-radius: 15px;
    background-color: aliceblue;
}

.login-text{
    color:#5cb4d1;
}

.login-buttom{
    color: #ffff;
    background-color: #045F7B;
}

.login-buttom:hover{
    background-color: #045F7B;
}